### Bibliotecas que serão utilizadas

In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import pickle

import os
import sys

# Obtém o diretório atual de trabalho
current_dir = os.getcwd()

# Volta duas pastas até chegar ao diretório 'models'
function_path = os.path.join(current_dir, '..', '..', 'models')
sys.path.append(function_path)

import functions as func

------------ Import Functions ! ------------------

### Lendo os dados

In [62]:
df = pd.read_excel("../../databases/raw/satisfaction_passenger.xlsx")
df.shape

(129880, 24)

In [63]:
df.head(5)

,id,target,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,117135,satisfied,Male,Infrequent Flyer,56,Personal Travel,Eco,369,0,2,...,3,3,1,5,3,3,4,3,0,0.0
1,72091,satisfied,Male,Infrequent Flyer,49,Personal Travel,Eco,2486,0,2,...,3,2,1,1,4,4,3,2,0,0.0
2,29663,satisfied,Male,Infrequent Flyer,55,Personal Travel,Eco,1448,0,3,...,3,3,3,5,3,2,3,3,0,0.0
3,81849,satisfied,Female,Infrequent Flyer,36,Personal Travel,Eco,1501,0,4,...,4,4,5,4,5,5,5,4,0,0.0
4,83693,satisfied,Male,Infrequent Flyer,55,Personal Travel,Eco,577,0,5,...,3,3,3,4,5,3,4,3,0,0.0

### Lendo os metadados

In [64]:
metadados = func.generate_metadata(df, ids=['id'], targets=['target'], orderby='PC_NULOS')
metadados.head(24)

,FEATURE,USO_FEATURE,QT_NULOS,PC_NULOS,CARDINALIDADE,TIPO_FEATURE
0,Arrival Delay in Minutes,Explicativa,393,0.3,472,float64
1,id,ID,0,0.0,129880,int64
2,Gender,Explicativa,0,0.0,2,object
3,target,Target,0,0.0,2,object
4,Age,Explicativa,0,0.0,75,int64
5,Type of Travel,Explicativa,0,0.0,2,object
6,Class,Explicativa,0,0.0,3,object
7,Customer Type,Explicativa,0,0.0,2,object
8,Flight Distance,Explicativa,0,0.0,3821,int64
9,Inflight wifi service,Explicativa,0,0.0,6,int64
10,Ease of Online booking,Explicativa,0,0.0,6,int64
11,Departure/Arrival time convenient,Explicativa,0,0.0,6,int64
12,Food and drink,Explicativa,0,0.0,6,int64
13,Online boarding,Explicativa,0,0.0,6,int64
14,Seat comfort,Explicativa,0,0.0,6,int64
15,Gate location,Explicativa,0,0.0,6,int64
16,Inflight entertainment,Explicativa,0,0.0,6,int64
17,On-board service,Explicativa,0,0.0,6,int64
18,Baggage handling,Explicativa,0,0.0,5,int64
19,Leg room service,Explicativa,0,0.0,6,int64
20,Checkin service,Explicativa,0,0.0,6,int64
21,Inflight service,Explicativa,0,0.0,6,int64
22,Cleanliness,Explicativa,0,0.0,6,int64
23,Departure Delay in Minutes,Explicativa,0,0.0,466,int64

### Separando os dados para garantir validação cruzada do tipo holdout 70/30

In [65]:
train, test = train_test_split(df, test_size=0.3, random_state=42)
train.shape,test.shape

((90916, 24), (38964, 24))

In [66]:
df_train_01 = train.copy()
df_train_01.head()

,id,target,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
18386,15057,neutral or dissatisfied,Male,Frequent Flyer,23,Personal Travel,Eco,576,2,5,...,1,1,3,3,5,4,4,1,5,18.0
115613,52688,satisfied,Female,Frequent Flyer,44,Business travel,Eco Plus,160,5,1,...,5,5,5,5,5,5,5,3,0,0.0
68138,101589,neutral or dissatisfied,Female,Frequent Flyer,72,Business travel,Eco Plus,699,1,2,...,3,1,1,1,1,2,1,3,15,15.0
78244,67052,neutral or dissatisfied,Female,Frequent Flyer,30,Business travel,Business,3468,3,5,...,3,3,1,1,3,3,4,3,4,9.0
34472,117638,neutral or dissatisfied,Female,Frequent Flyer,9,Personal Travel,Eco,872,4,4,...,4,4,2,5,3,4,3,4,16,14.0

### Excluindo variáveis com mais de 70% de nulos

In [67]:
missing_cutoff = 70

drop_vars_nulos = metadados[(metadados['PC_NULOS'] >= missing_cutoff)]
lista_drop_vars = list(drop_vars_nulos.FEATURE.values)
print('Variáveis que serão excluídas por alto percentual de nulos: ',lista_drop_vars)
  # retirando lista de variáveis com alto percentual de nulos
df_train_02 = df_train_01.drop(axis=1,columns=lista_drop_vars)
df_train_02.shape

Variáveis que serão excluídas por alto percentual de nulos:  []

(90916, 24)

In [70]:
# Salvando a lista em um arquivo .pkl
with open('../../artifacts/prd_drop_nullvars.pkl', 'wb') as f:
    pickle.dump(lista_drop_vars, f)

### Retirando o ID e o Target do tratamento de nulos

In [71]:
df_train_02 = df_train_02.drop(axis=1, columns=['id', 'target'])
df_train_02.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
18386,Male,Frequent Flyer,23,Personal Travel,Eco,576,2,5,2,3,...,1,1,3,3,5,4,4,1,5,18.0
115613,Female,Frequent Flyer,44,Business travel,Eco Plus,160,5,1,1,1,...,5,5,5,5,5,5,5,3,0,0.0
68138,Female,Frequent Flyer,72,Business travel,Eco Plus,699,1,2,2,2,...,3,1,1,1,1,2,1,3,15,15.0
78244,Female,Frequent Flyer,30,Business travel,Business,3468,3,5,5,5,...,3,3,1,1,3,3,4,3,4,9.0
34472,Female,Frequent Flyer,9,Personal Travel,Eco,872,4,4,3,4,...,4,4,2,5,3,4,3,4,16,14.0

### Substituindo os nulos

In [73]:
df_train_03, means = func.custom_fillna(df_train_02)

with open('../../artifacts/prd_fillna.pkl', 'wb') as f:
  pickle.dump(means, f)

c:\Users\jeanr\Documents\projetos\classificacao\satisfaction_passenger\models\01-dataprep\../../functions\functions.py:68: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [75]:
with open('../../artifacts/prd_fillna.pkl', 'rb') as f:
  loaded_means = pickle.load(f)
loaded_means

{'Age': np.float64(39.445576136213646),
 'Flight Distance': np.float64(1192.1134893748076),
 'Inflight wifi service': np.float64(2.7295745523340225),
 'Departure/Arrival time convenient': np.float64(3.0542478771613357),
 'Ease of Online booking': np.float64(2.7553345945708125),
 'Gate location': np.float64(2.9759228298649303),
 'Food and drink': np.float64(3.2054423863786354),
 'Online boarding': np.float64(3.256049540234942),
 'Seat comfort': np.float64(3.4447292005807557),
 'Inflight entertainment': np.float64(3.3600576356196927),
 'On-board service': np.float64(3.384827753090765),
 'Leg room service': np.float64(3.353502133837828),
 'Baggage handling': np.float64(3.6331778784812356),
 'Checkin service': np.float64(3.306304720841216),
 'Inflight service': np.float64(3.6431211227946676),
 'Cleanliness': np.float64(3.2855272999252056),
 'Departure Delay in Minutes': np.float64(14.723668001231907),
 'Arrival Delay in Minutes': np.float64(15.077452591865327)}

In [76]:
test_prod = func.custom_fillna_prod(test,loaded_means)
test_prod.shape

c:\Users\jeanr\Documents\projetos\classificacao\satisfaction_passenger\models\01-dataprep\../../functions\functions.py:90: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

(38964, 24)

### Tratamento de variáveis categóricas de alta cardinalidade (LabelEncoder)

In [83]:
metadados = func.generate_metadata(df_train_03, targets=['id'], orderby='CARDINALIDADE')
metadados

,FEATURE,USO_FEATURE,QT_NULOS,PC_NULOS,CARDINALIDADE,TIPO_FEATURE
0,Flight Distance,Explicativa,0,0.0,3776,int64
1,Departure Delay in Minutes,Explicativa,0,0.0,434,int64
2,Arrival Delay in Minutes,Explicativa,0,0.0,431,float64
3,Age,Explicativa,0,0.0,75,int64
4,Departure/Arrival time convenient,Explicativa,0,0.0,6,int64
5,Inflight wifi service,Explicativa,0,0.0,6,int64
6,Inflight entertainment,Explicativa,0,0.0,6,int64
7,Seat comfort,Explicativa,0,0.0,6,int64
8,On-board service,Explicativa,0,0.0,6,int64
9,Leg room service,Explicativa,0,0.0,6,int64
10,Food and drink,Explicativa,0,0.0,6,int64
11,Online boarding,Explicativa,0,0.0,6,int64
12,Ease of Online booking,Explicativa,0,0.0,6,int64
13,Gate location,Explicativa,0,0.0,6,int64
14,Cleanliness,Explicativa,0,0.0,6,int64
15,Checkin service,Explicativa,0,0.0,6,int64
16,Inflight service,Explicativa,0,0.0,6,int64
17,Baggage handling,Explicativa,0,0.0,5,int64
18,Class,Explicativa,0,0.0,3,object
19,Type of Travel,Explicativa,0,0.0,2,object
20,Gender,Explicativa,0,0.0,2,object
21,Customer Type,Explicativa,0,0.0,2,object

In [84]:
card_cutoff = 10
df_categ_labelenc = metadados[(metadados['CARDINALIDADE'] > card_cutoff) & (metadados['TIPO_FEATURE'] == 'object')]
lista_vars_abt = list(df_train_03.columns)
lista_lenc = list(df_categ_labelenc.FEATURE.values)

for item in lista_drop_vars:
    if item in lista_lenc:
        lista_lenc.remove(item)

print('Lista de vars para Label Encoding: ',lista_lenc)

Lista de vars para Label Encoding:  []

In [85]:
import pickle
from sklearn.preprocessing import LabelEncoder

encoders = {}

for col in lista_lenc:
    encoder = LabelEncoder()
    df_train_03[col] = encoder.fit_transform(df_train_03[col])

    # Armazena o encoder para a coluna atual em um dicionário
    encoders[col] = encoder

# Salva o dicionário de encoders e a lista de colunas em um arquivo .pkl
data_to_serialize = {
    'encoders': encoders,
    'columns': lista_lenc
}

with open('../../artifacts/prd_labelenc.pkl', 'wb') as f:
    pickle.dump(data_to_serialize, f)

In [86]:
# Carregar os encoders e a lista de colunas e aplicar na base de teste
with open('../../artifacts/prd_labelenc.pkl', 'rb') as f:
    loaded_data = pickle.load(f)

loaded_encoders = loaded_data['encoders']
loaded_columns = loaded_data['columns']

for col in loaded_columns:
    if col in loaded_encoders:
        # Transforma a coluna usando o encoder carregado
        test[col] = loaded_encoders[col].transform(test[col])

### Tratamento de variáveis categóricas de baixa cardinalidade (OneHotEncoder)

In [87]:
import pickle
from sklearn.preprocessing import OneHotEncoder

card_cutoff = 10
df_categ_onehot = metadados[(metadados['CARDINALIDADE'] <= card_cutoff) & (metadados['TIPO_FEATURE'] == 'object')]
lista_onehot = list(df_categ_onehot.FEATURE.values)
print('Lista de vars para OneHot Encoding: ',lista_onehot)

# Instanciando o encoder
encoder = OneHotEncoder(drop='first', sparse_output=False)

# Aplicando o one-hot encoding
encoded_data = encoder.fit_transform(df_train_03[lista_onehot])
encoded_cols = encoder.get_feature_names_out(lista_onehot)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_cols, index=df_train_03.index)

df_train_03 = pd.concat([df_train_03.drop(lista_onehot, axis=1), encoded_df], axis=1)

# Salva o encoder e a lista de colunas em um arquivo .pkl
data_to_serialize = {
    'encoder': encoder,
    'columns': lista_onehot
}

with open('../../artifacts/prd_onehotenc.pkl', 'wb') as f:
    pickle.dump(data_to_serialize, f)

Lista de vars para OneHot Encoding:  ['Class', 'Type of Travel', 'Gender', 'Customer Type']

In [88]:
# Carregar o encoder e a lista de colunas
with open('../../artifacts/prd_onehotenc.pkl', 'rb') as f:
    loaded_data = pickle.load(f)

loaded_encoder = loaded_data['encoder']
loaded_columns = loaded_data['columns']

# Suponha test_df como sua base de teste
encoded_data_test = loaded_encoder.transform(test[loaded_columns])
encoded_cols_test = loaded_encoder.get_feature_names_out(loaded_columns)
encoded_df_test = pd.DataFrame(encoded_data_test, columns=encoded_cols_test, index=test.index)

test = pd.concat([test.drop(loaded_columns, axis=1), encoded_df_test], axis=1)

In [90]:
df_train_03.head()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Class_Eco,Class_Eco Plus,Type of Travel_Personal Travel,Gender_Male,Customer Type_Infrequent Flyer
18386,23,576,2,5,2,3,1,2,1,1,...,4,4,1,5,18.0,1.0,0.0,1.0,1.0,0.0
115613,44,160,5,1,1,1,5,4,5,5,...,5,5,3,0,0.0,0.0,1.0,0.0,0.0,0.0
68138,72,699,1,2,2,2,4,4,3,1,...,2,1,3,15,15.0,0.0,1.0,0.0,0.0,0.0
78244,30,3468,3,5,5,5,3,2,3,3,...,3,4,3,4,9.0,0.0,0.0,0.0,0.0,0.0
34472,9,872,4,4,3,4,4,3,4,4,...,4,3,4,16,14.0,1.0,0.0,1.0,0.0,0.0

### Aplicando normalização a toda tabela de modelagem tratada até este ponto

In [91]:
import pickle
from sklearn.preprocessing import StandardScaler

# Excluindo IDs e Targets
df_id_target = metadados[(metadados['USO_FEATURE'] == 'ID') | (metadados['USO_FEATURE'] == 'Target')]
lista_id_target = list(df_id_target.FEATURE.values)
print('Lista de IDs e Target: ',lista_id_target)

# Instanciando o scaler
scaler = StandardScaler()

# Padronizando a base de treino
df_train_03_scaled = scaler.fit_transform(df_train_03)
df_train_04 = pd.DataFrame(df_train_03_scaled, columns=df_train_03.columns, index=df_train_03.index)

# Salva o scaler em um arquivo .pkl
with open('../../artifacts/prd_scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

Lista de IDs e Target:  []

In [92]:
df_train_04.head()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Class_Eco,Class_Eco Plus,Type of Travel_Personal Travel,Gender_Male,Customer Type_Infrequent Flyer
18386,-1.087026,-0.617847,-0.549668,1.274518,-0.539639,0.018829,-1.656388,-0.930654,-1.852131,-1.766331,...,0.547016,0.303105,-1.738216,-0.254779,0.076030,1.109634,-0.280921,1.495256,1.015922,-0.472778
115613,0.301040,-1.035017,1.710558,-1.345585,-1.254077,-1.545218,1.347794,0.551221,1.178276,1.227377,...,1.335571,1.152425,-0.217153,-0.385789,-0.392238,-0.901198,3.559716,-0.668782,-0.984328,-0.472778
68138,2.151795,-0.494501,-1.303076,-0.690559,-0.539639,-0.763194,0.596749,0.551221,-0.336928,-1.766331,...,-1.030092,-2.244857,-0.217153,0.007240,-0.002015,-0.901198,3.559716,-0.668782,-0.984328,-0.472778
78244,-0.624337,2.282289,0.203741,1.274518,1.603673,1.582876,-0.154297,-0.930654,-0.336928,-0.269477,...,-0.241538,0.303105,-0.217153,-0.280981,-0.158104,-0.901198,-0.280921,-0.668782,-0.984328,-0.472778
34472,-2.012404,-0.321014,0.957149,0.619492,0.174798,0.800852,0.596749,-0.189717,0.420674,0.478950,...,0.547016,-0.546216,0.543379,0.033442,-0.028030,1.109634,-0.280921,1.495256,-0.984328,-0.472778

### Atenção! : Colunas que foram retiradas da tabela

In [93]:
# colunas que foram retiradas da tabela:

list_columns_drop = ['id', 'target']
df_test_aux = test.drop(axis=1,columns=list_columns_drop)

In [94]:
# Carregar o scaler
with open('../../artifacts/prd_scaler.pkl', 'rb') as f:
    loaded_scaler = pickle.load(f)

# Suponha test_df como sua base de teste
test_df_scaled = loaded_scaler.transform(df_test_aux)
test_df = pd.DataFrame(test_df_scaled, columns=df_test_aux.columns, index=df_test_aux.index)
test_df.head()

,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,...,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Class_Eco,Class_Eco Plus,Type of Travel_Personal Travel,Gender_Male,Customer Type_Infrequent Flyer
103044,1.292516,-0.391211,0.957149,-0.035534,0.174798,0.018829,0.596749,0.551221,0.420674,0.478950,...,-1.030092,0.303105,0.543379,-0.228577,-0.158104,1.109634,-0.280921,-0.668782,1.015922,-0.472778
43282,-0.624337,-0.516563,-1.303076,-1.345585,-1.254077,0.800852,-0.154297,-1.671592,-0.336928,-0.269477,...,-0.241538,1.152425,-0.217153,-0.385789,-0.392238,-0.901198,-0.280921,-0.668782,1.015922,2.115159
65543,0.433237,-1.086161,-2.056485,0.619492,-1.968514,0.800852,-1.656388,1.292158,1.178276,-0.269477,...,-1.818646,-0.546216,-0.977684,-0.385789,-0.392238,-0.901198,-0.280921,-0.668782,-0.984328,-0.472778
65083,0.036647,2.318390,-2.056485,-1.345585,-1.254077,0.800852,1.347794,1.292158,1.178276,0.478950,...,-0.241538,0.303105,0.543379,0.374068,0.440238,-0.901198,-0.280921,-0.668782,1.015922,-0.472778
76496,-0.227747,1.512129,-0.549668,-0.690559,0.889236,-0.763194,-0.905342,-0.189717,0.420674,-1.017904,...,-1.030092,-1.395537,-0.977684,-0.333385,-0.392238,-0.901198,-0.280921,-0.668782,-0.984328,-0.472778

### Compondo tabela analítica de modelagem (ABT)

In [95]:
#### Trazer o id e target para a tabela pós dataprep

abt_train = df_train_04.merge(train[['id', 'target']], left_index=True, right_index=True, how='inner')
abt_test = test_df.merge(test[['id', 'target']], left_index=True, right_index=True, how='inner')

In [96]:
abt_train.shape

(90916, 25)

In [97]:
abt_test.shape

(38964, 25)

### Salvando ABT`s de treino e teste pós preparação dos dados

In [98]:
abt_train.to_csv('../../databases/abt/abt_train.csv')
abt_test.to_csv('../../databases/abt/abt_test.csv')